<h4>
  Dados pessoais
</h4>
<div class="col-lg-3">
  <%= person_form.label(:document_number) %>
  <%= person_form.text_field(:document_number, class: 'form-control') %>
</div>
<div class="col-lg-5">
  <%= person_form.label(:name) %>
  <%= person_form.text_field(:name, class: 'form-control') %>
</div>
<div class="col-lg-4">
  <%= person_form.label(:nickname) %>
  <%= person_form.text_field(:nickname, class: 'form-control') %>
</div>
<div class="col-lg-3">
  <%= person_form.label(:identity_document_type) %>
  <%= person_form.text_field(:identity_document_type, class: 'form-control') %>
</div>
<div class="col-lg-4">
  <%= person_form.label(:identity_document_issuing_agency) %>
  <%= person_form.text_field(:identity_document_issuing_agency, class: 'form-control') %>
</div>
<div class="col-lg-5">
  <%= person_form.label(:identity_document_number) %>
  <%= person_form.text_field(:identity_document_number, class: 'form-control') %>
</div>
<div class="col-lg-4">
  <%= person_form.label(:cell_number) %>
  <%= person_form.text_field(:cell_number, class: 'form-control') %>
</div>
<div class="col-lg-4">
  <%= person_form.label(:telephone_number) %>
  <%= person_form.text_field(:telephone_number, class: 'form-control') %>
</div>
<div class="col-lg-4">
  <%= person_form.label(:marital_status) %>
  <%= person_form.text_field(:marital_status, class: 'form-control') %>
</div>
